@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Тут надо написать свою Фамилию и Имя</h1>
    <p>Я учу ASP и это мой первый крутой проект.</p>
    <div>
        <img class="img-fluid"  src="images/startdevelopweb.png"> </img>
    </div>

</div>
