@{
    ViewData["Title"] = "Первое задание";
}
<h1>@ViewData["Title"]</h1>

<p>
    <ul>
        <li> Задача 1. <a href="task1">Время суток</a></li>
        <li>Задача 2. Калькулятор</li>
        <li>Задача 3. Калькулятор с операцией</li>
        <li>Задача 4. Калькулятор с операцией и query параметрами</li>
    </ul>
    
    тут добавлю дедлайн
</p>
